
/test
/.nextflow
/work
.nextflow.log
.nextflow.log1
.nextflow.log2
.nextflow.log3
.nextflow.log4
.nextflow.log5
.nextflow.log6
.nextflow.log7
.nextflow.log8
.nextflow.log9
/.vscode
Autocycler_plassembler.tar
Autocycler_plassembler_gnu.tar.gz
Inspector+Dockerfile.txt
/Inspector
Inspector_report.html
combined_summary_statistics.tsv
