profiles {
    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/resources.config'
    }

    local {
        includeConfig 'conf/resources.config'
    }
}

params.reads   = "ont.fastq.gz"
params.threads = 16
params.outdir  = "autocycler_out"

singularity.enabled = true
singularity.autoMounts = true
process.container = "Autocycler/autocycler.sif"
