profiles {
    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/resources.config'
        
        singularity.enabled = true
	    singularity.autoMounts = true
	    process.container = "https://depot.galaxyproject.org/singularity/autocycler%3A0.5.2--h3ab6199_0"
	
    }

    local {
        includeConfig 'conf/resources_local.config'
        conda.enabled = true
        process.conda = '/home/kevin/miniforge3/envs/autocycler'
    }
}

params.outdir  = "./test/autocycler_out"
params.samplesheet = "./test/samplesheet.tsv"
params.min_read_depth  = 25
params.run_second_stage = false


// Annotation parameters
params.bakta_db = "bacteria"