profiles {
    slurm {
        includeConfig 'conf/slurm.config'
        includeConfig 'conf/resources.config'
        
        singularity.enabled = true
	    singularity.autoMounts = true
	    process.container = "Autocycler/autocycler.sif"
	
    }

    local {
        includeConfig 'conf/resources_local.config'
        conda.enabled = true
        process.conda = '/home/kevin/miniforge3/envs/autocycler'
    }
}

params.reads   = "./test/reads.fastq.gz"
params.outdir  = "./test/autocycler_out"
params.min_read_depth  = 25
