executor {
  name = 'slurm'
  queueSize = 30
  pollInterval = '10sec'
  submitRateLimit = '10 / 1min' 
}

process {
    executor = 'slurm'
    clusterOptions = '--constraint=cal --signal USR1 --error=job.%J.err --output=job.%J.out'
    //signal = null
    errorStrategy = 'terminate'

    
    
    scratch = false
    //env.TMPDIR = '$PWD'
    //containerOptions = "-B $LOCALSCRATCH:/localscratch"
    
     beforeScript = '''
        module load singularity/3.7.2
    '''
}
