process {
    cpus = 16
    memory = '32 GB'
    time = '2:00:00'

    // Per-process overrides must be nested under `process { }`
    withName: 'PORECHOP' {
        cpus = 16
        memory = '48 GB'
        time = '0:30:00'
    }

    withName: 'GET_GENOME_SIZE' {
        cpus = 16
        memory = '48 GB'
        time = '0:30:00'
    }

    withName: 'SUBSAMPLE' {
        cpus = 8
        memory = '16 GB'
        time = '0:30:00'
    }

    withName: 'ASSEMBLE' {
        maxForks = 10
        cpus = 16
        memory = '80 GB'
        time = '2:00:00'
    }

    withName: 'COMPRESS' {
        cpus = 16
        memory = '64 GB'
        time = '4:00:00'
    }

    withName: 'CLUSTER' {
        cpus = 16
        memory = '64 GB'
        time = '1:00:00'
    }

    withName: 'RESOLVE_CLUSTERS' {
        cpus = 16
        memory = '64 GB'
        time = '1:00:00'
    }

    withName: 'COMBINE' {
        cpus = 4
        memory = '16 GB'
        time = '1:00:00'
    }

    withName: 'CHECKM' {
        cpus = 20
        memory = '80 GB'
        time = '2:00:00'
    }

    withName: 'CHECKM2' {
        cpus = 20
        memory = '80 GB'
        time = '2:00:00'
    }

    withName: 'BUSCO' {
        cpus = 20
        memory = '80 GB'
        time = '2:00:00'
    }

    withName: 'MEDAKA' {
        cpus = 52
        memory = '180 GB'
        time = '4:00:00'
    }

    withName: 'KRAKEN2' {
        cpus = 16
        memory = '180 GB'
        time = '1:00:00'
    }

    withName: 'NANOPLOT' {
        cpus = 16
        memory = '32 GB'
        time = '0:30:00'
    }
    
}