process {
    executor = 'slurm'
    clusterOptions = '--constraint=cal --signal USR1 --error=job.%J.err --output=job.%J.out'
    signal = null
    maxForks = 10
    errorStrategy = 'terminate'
    
    scratch = false
    containerOptions = "-B $LOCALSCRATCH:/localscratch"
    
     beforeScript = '''
        module load singularity
    '''
}
